ejercicio.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Alumno">
        <xs:complexType>
          <xs:sequence>
              <xs:element name="Id" type="xs:integer"/>
              <xs:element name="Nombre" type="xs:string"/>
              <xs:element name="Apellidos" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
